@model TeduShop.Web.Models.HomeViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";

}
@section footerJs{
  <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
  <script>
    $('.example1').wmuSlider();
  </script>
}
<div class="shoes-grid">

  <div class="wrap-in">
    <div class="wmuSlider example1 slide-grid">
      <div class="wmuSliderWrapper">
        @foreach (var slide in Model.Slides)
        {
        <article style="position: absolute; width: 100%; opacity: 0;">
          <div class="banner-matter">
            <div class="col-md-5 banner-bag">
              <img class="img-responsive " src="@slide.Image" alt="@slide.Name" />
            </div>
            <div class="col-md-7 banner-off">
              @Html.Raw(slide.Content)
            </div>

            <div class="clearfix"> </div>
          </div>

        </article>

        }

      </div>

      <ul class="wmuSliderPagination">
        @for (int i = 0; i < Model.Slides.Count(); i++)
        {
        <li><a href="#" class="">i</a></li>
        }

      </ul>

    </div>
  </div>
  <div class="products">
    <h5 class="latest-product">Sản phẩm mới nhất</h5>
    <a class="view-all" href="san-pham.html">Xem tất cả<span> </span></a>
  </div>
  <div class="product-left">
    @foreach (var product in Model.LastestProducts)
    {
      var url = "/" + product.Alias + ".p-" + product.ID + ".html";
    <div class="col-md-4 chain-grid grid-top-chain">
      <a href="@url"><img class="img-responsive chain" src="@product.Image" /></a>
      <span class="star"> </span>
      <div class="grid-chain-bottom">
        <h6><a href="@url">@product.Name</a></h6>
        <div class="star-price">
          <div class="dolor-grid">
            @if (product.PromotionPrice.HasValue)
                {
                <span class="actual">@product.PromotionPrice.Value.ToString("N0")</span>
                }
            <span class="reducedfrom">@product.Price.ToString("N0")</span>
            <span class="rating">
              <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
              <label for="rating-input-1-5" class="rating-star1"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
              <label for="rating-input-1-4" class="rating-star1"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
              <label for="rating-input-1-3" class="rating-star"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
              <label for="rating-input-1-2" class="rating-star"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
              <label for="rating-input-1-1" class="rating-star"> </label>
            </span>
          </div>
          <a class="now-get get-cart btnAddToCart" href="#" data-id="@product.ID">Mua hàng</a>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    }

    <div class="clearfix"> </div>
  </div>
  <div class="products">
    <h5 class="latest-product">Sản phẩm bán chạy</h5>
    <a class="view-all" href="san-pham-ban-chay.html">Xem tất cả<span> </span></a>
  </div>
  <div class="product-left">
    @foreach (var product in Model.TopSaleProducts)
    {
      var url = "/" + product.Alias + ".p-" + product.ID + ".html";
    <div class="col-md-4 chain-grid grid-top-chain">
      <a href="@url"><img class="img-responsive chain" src="@product.Image" /></a>
      <span class="star"> </span>
      <div class="grid-chain-bottom">
        <h6><a href="@url">@product.Name</a></h6>
        <div class="star-price">
          <div class="dolor-grid">
            @if (product.PromotionPrice.HasValue)
                {
                <span class="actual">@product.PromotionPrice.Value.ToString("N0")</span>
                }
            <span class="reducedfrom">@product.Price.ToString("N0")</span>
            <span class="rating">
              <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
              <label for="rating-input-1-5" class="rating-star1"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
              <label for="rating-input-1-4" class="rating-star1"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
              <label for="rating-input-1-3" class="rating-star"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
              <label for="rating-input-1-2" class="rating-star"> </label>
              <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
              <label for="rating-input-1-1" class="rating-star"> </label>
            </span>
          </div>
          <a class="now-get get-cart btnAddToCart" href="#" data-id="@product.ID">Mua hàng</a>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    }
    <div class="clearfix"> </div>
  </div>

</div>