@model TeduShop.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<h4>Đăng nhập bằng mạng xã hội</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Any())
    {
      using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
      {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
              <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-@p.AuthenticationType.ToLower()"></i> @p.AuthenticationType</button>
                }
              </p>
            </div>
      }
    }

}
