@model IEnumerable<TeduShop.Web.Models.ProductCategoryViewModel>
<div class="sub-cate">
  <div class="top-nav rsidebar span_1_of_left">
    <h3 class="cate">Danh mục sản phẩm</h3>
    <ul class="menu">
      @foreach (var category in Model.Where(x => x.ParentID == null))
      {
        var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
        var childCategories = Model.Where(x => x.ParentID == category.ID);
          <li>
            <a href="@url">@category.Name @(childCategories.Count() > 0 ? "<img class=\"arrow-img\" src=\"/Assets/client/images/arrow1.png\" alt=\"\" />" : "") </a>
            @if (childCategories.Count() > 0)
            {
                <ul class="cute">
                  @foreach (var childCategory in childCategories)
                  {
                    var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                      <li class="subitem3"><a href="@childUrl">@childCategory.Name</a></li>
                  }

                </ul>
            }

          </li>


      }

    </ul>
  </div>
  <!--initiate accordion-->
  @*<script type="text/javascript">
    $(function () {
      var menu_ul = $('.menu > li > ul'),
             menu_a = $('.menu > li > a');
      menu_ul.hide();
      menu_a.click(function (e) {
        e.preventDefault();
        if (!$(this).hasClass('active')) {
          menu_a.removeClass('active');
          menu_ul.filter(':visible').slideUp('normal');
          $(this).addClass('active').next().stop(true, true).slideDown('normal');
        } else {
          $(this).removeClass('active');
          $(this).next().stop(true, true).slideUp('normal');
        }
      });

    });
  </script>*@
  <div class="chain-grid menu-chain">
    <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/wat.jpg" alt="" /></a>
    <div class="grid-chain-bottom chain-watch">
      <span class="actual dolor-left-grid">300$</span>
      <span class="reducedfrom">500$</span>
      <h6><a href="single.html">Lorem ipsum dolor</a></h6>
    </div>
  </div>
  <a class="view-all all-product" href="product.html">VIEW ALL PRODUCTS<span> </span></a>
</div>